[build]
  publish = "."
  functions = "netlify/functions"
  command = ""
  environment = { SECRETS_SCAN_OMIT_PATHS = "*.md,assets/js/config.js" }

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"
  directory = "netlify/functions"
  included_files = ["netlify/functions/**"]
