[build]
  publish = "."
  functions = "netlify/functions"
  command = ""

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"
  directory = "netlify/functions"
  included_files = ["netlify/functions/**"]
